@import "tailwindcss";


:root {
  --font-manrope: "Manrope", sans-serif;
}

body {
  font-family: var(--font-manrope);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
